/* form */
#content {/*header, footer 크기에 맞게 조정*/
	display: flex;
	margin: 0;
	display: inline-block;
}

#myCalendarWrite,#myCalendarUpdate {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 18px;
}

/*일정 날짜 선택*/
.selectDate {
	margin-bottom: 20px;
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#datepickerStart, #datepickerEnd,#datepickerStartUpdate, #datepickerEndUpdate {
	display: inline-block;
	width: 150px;
	height: 30px;
	margin: 5px 20px 5px 0;
	border: 1px solid #ccc;
}
/*일정 색상*/
label[for="red"] {
  background-color: #EA9A95; /* 연한 빨간색 배경 */
}
label[for="blue"] {
  background-color: #8B93FF; 
}
label[for="green"] {
  background-color: #A1EEBD; 
}
label[for="yellow"] {
  background-color: #FFD98C; 
}
#CalendarTitle, #CalendarContent,#CalendarTitleUpdate, #CalendarContentUpdate {
	width: 100%;
	padding: 10px;
	margin: 5px 0 20px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	resize:none;
}
 
.btnRight {
	text-align: right;
}
.resetBtn{
	margin-right:50px !important;
}
#calContent, #calContentUpdate{
	width: 100%;
	resize: none;
}
#myCalendarWriteFormBtn, .resetBtn, #selectReview,#myCalendarUpdateFormBtn,#myCalendarDeleteBtn, #selectReviewUpdate{
	width: 100px;
	height: 40px; 
	border-radius : 5px;
	background: #CAE9FF;
	border: none;
	margin: 10px 0px 10px 0;
	cursor:pointer;
}
#reviewSeq, #reviewSeqUpdate{
	height:30px;
	width:100%;
	border: 1px solid #ccc;
}