@charset "UTF-8";
/*calendar header*/
.fc .fc-toolbar-title {
    font-size: 40px !important;
}
.fc .fc-toolbar.fc-header-toolbar {
    margin-bottom: 35px;
}
.fc .fc-button-primary{
	width:80px;
	height:50px;
	font-size: 20px;
}
 /*.fc .fc-event-time{
	color: #FFF7FC !important;
} */
/*일자 중앙정렬*/
	.fc .fc-daygrid-day-top{
		flex-wrap: wrap !important;
		align-content: center !important;
		flex-direction: column-reverse !important;
	}
	
	/*양옆 버튼 간격 + 버튼 둥글게*/
	.fc-next-button {
		margin-left:10px !important;
		border-radius:0.25em !important;
	}
	.fc-prev-button{
		margin-right:10px !important;
		border-radius:0.25em !important;
	}
	.fc-today-button{
		border-radius:0.25em !important;
	}
	.fc-timeGridDay-button{
		border-bottom-right-radius: 0.25em !important;
    	border-top-right-radius: 0.25em !important;
	}
	
	/*일정 event 색상 변경*/
	.fc-event-title{
		color: #1a252f !important;
	}
	
/*모달*/
#calModal, #calModalUpdate{
	position: fixed;
            width: 100%;
            height: 100%;
            background-color: rgba(50, 150, 150, 0.7);
            display: none;
            z-index: 1000;
	}
#calModalCon, #calModalConUpdate{
	 		margin: 30px auto;
	 		min-width:530px;
            width: 50%;
            min-height: 670px;
            background-color: white;
}
#calModalCon h1, #calModalConUpdate h1{
	margin-left:20px;
	padding-top:10px;
}