/*contennt*/

    
    
#mypageContent {
 display: flex;
  margin-left:40px;
display: inline-block;

}
#profile_userIntro {
    display: flex;
    align-items: center;
    margin-right: 0;
    padding-right: 0;
}
#profileSet{
    display: inline-block;
}
.profile {
    margin-right: 50px;
    /*background-color: #CAE9FF;*/
    border:#CAE9FF solid 3px;
    border-radius: 50%;
    display: inline-block;
    width: 300px;
    height: 300px;
    background-size: cover;
    margin-bottom: 0px;
}
#profileSet input[type="file"] {/*브라우저에 있는 기존 디자인 삭제*/
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.filebox, #uploadProfile{
    display: inline-block;
}
.filebox .upload-name {
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    border: 1px solid #dddddd;
    width: 78%;
    color: #999999;
}
.filebox label{
	display: inline-block;
    margin-left: 30px;/* =(.profile의 width - width)/2 - 2*/
    width: 110px;
    height: 20px;
    padding-top: 7px;
    padding-bottom: 5px;
    text-align: center;
    background-color: #378CE7;
    border: none;
    border-radius: 5px;
    color: white;
    cursor:pointer;
    line-height: 20px; /* 텍스트의 높이를 요소의 높이와 동일하게 설정 */
}
.filebox label:hover{
	opacity: 0.8;
}
#defaultProfile{
	display: inline-block;
    margin-left: 20px;
	width: 110px;
    height: 31.97px;
    padding: 7px 0 5px 0;
    text-align: center;
    background-color: #378CE7;
    border: none;
    border-radius: 5px;
    font-size:16px;
    color: white;
    cursor:pointer;
    font-family:'Dovemayo_gothic';
    line-height: 20px; /* 텍스트의 높이를 요소의 높이와 동일하게 설정 */
}
#defaultProfile:hover{
	opacity:0.8;
}
#userIntro {
    margin: 0 0 0 40px;
    padding: 5px 0 5px 5px;
    display: inline-block;
    padding-left: 10px;
    background-color: #f9fafb;
    /* border:#CAE9FF solid 3px; */
    border-radius: 10px;
    width:1000px;
    min-height: 194px;
    font-size: 18px;
    color:rgb(77, 109, 142)
}
#userIntroContent{
    /*border: white dotted;*/
    padding: 10px 20px 10px 20px; 
}
p{
	margin:10px;
	padding:0;
	display:inline-block;
}
.btnRight{
	text-align:right;	
}
.mypageChangeBtn{
	background:#378CE7;
	width:100px;
	height:50px;
	color:white;
	border:none;
	border-radius:7px;
	cursor:pointer;
	margin-right:10px;
}
.mypageChangeBtn:hover{
	opacity:0.8;
}


#boxes{
    margin-top: 60px;
    
}

.contentBox {
    min-height: 325px; /* 원하는 높이로 수정 */
    width: 1395px;
    margin: 60px 10px 20px 10px;
    font-weight: bolder;
    background-color: #f9fafb;
    /* border:#CAE9FF solid 3px; */
    border-radius: 10px;
}
.contentBox:first-of-type{
    height: 300px; /* 원하는 높이로 수정 */
}
.boxContent{
    /*border: 3px white dotted;*/
    min-height: 190px;
}
.boxHeader{
	margin:0 0 10px 0;
	padding: 12px 20px 12px 20px;
	background-color: white;
	border:none;
	border-radius:8px 8px 0 0;
	font-size: 30px;
	border-bottom:#cfd5da solid 4px; 
}
.boxContent strong{/*box1 나의 대표 글*/
   padding-left: 10px;
}
.boxContent strong:first-child{/*box2 나의 캘린더*/
    padding-left: 0px;
 }
#box1Img{/*코드로 이미지 크기 잡아 둘 건데 그 wh 동일하게 잡아 둘 것*/
    background-size: cover;
    width: 280px;
    height:204px;
    margin: 20px 50px 30px 50px;
    border-radius: 10px;
    
}
#box1Title{
	margin: 20px 0 10px 0;
	font-size:20px;
	white-space: pre-wrap;
	overflow: hidden;
  	text-overflow: ellipsis;
  	display:block;
}
#box1Txt {
  width: 950px;
  height: 175px;
  white-space: pre-wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px; 
  display: block;
}
#box1TxtOver{
  	bottom: -10px;  	
}
#box1Content {
    font-weight: lighter;
    font-size: 0.9em;
    margin-bottom:20px;
}
#box2Content{
    /*margin: 10px;*/
    font-weight: lighter;
    padding-bottom:20px;
    margin-bottom:20px;
}
.verticalBox{
	text-align:center;
	vertical-align: middle;
	padding: 20px 25px;
	border-right: #cfd5da solid 1px;
	display:inline-block;
}
/*.w15{
	display: inline-block;
	width : 115px;
}
.verticalBox180{
	width : 180px;
} */
#lastVerticalBox{
	border:none;
}
.verticalBox div p{
	margin-top: 10px;
	font-weight:bold;
}
#userIntroContent .horizonBox{
	margin-top: 30px;
}
.horizonBox{
	justify-content: center;
	display: flex; /* Flexbox를 활성화합니다. */
    /* align-items: flex-start; */ /* 자식 요소들을 상단으로 정렬합니다. */	
}
.horizonBoxL{
	justify-content: left;
	display: flex; /* Flexbox를 활성화합니다. */
    /* align-items: flex-start; */ /* 자식 요소들을 상단으로 정렬합니다. */	
}
#mycalendarTxt{
    margin-top: 20px;
}
#myCalTable tr th{
	margin-top:20px;
}
/*calendar*/
#myCalendarImg {
  display: flex;
  margin: 0 0 20px 20px;
  align-items: center; /* 세로 중앙 정렬 */
}

#datepicker {
  margin: 10px; /* 요소들 사이의 간격을 조정 */

}
.vertical-container {
  margin: 15px 30px; /* 요소들 사이의 간격을 조정 */
}
.ui-datepicker { 
	width: 270px;
	padding: 0; 
	display: none; 
	border: none; 
	margin-top: 10px;
}
.ui-widget.ui-widget-content{ 
	border: none !important; 
	border-radius: 5px; 
	overflow: hidden; 
	background: #fff; 
	box-shadow: 0 0 8px rgba(0,0,0,0.3); 
	width: 500px;
	font-size:25px;
}
a.ui-state-default{
	width: 70px !important;
    height:50px !important;
    padding: 0 !important;
    font-size: 15px;
	line-height: 50px; /* 텍스트의 높이를 요소의 높이와 동일하게 설정 */
    text-align: center; /* 가로 중앙 정렬을 위해 */
}


.ui-datepicker .ui-widget-header { /*달력 상단 색상*/
	position: relative; 
	padding: 6px 0 16px 0; 
	background: #378CE7; 
	color: #fff; 
	border-radius: 0; 
}

/* 날짜 글씨색 변경 */
.ui-datepicker td a {
    color: black !important;
    background: #fff !important;
    border: none !important;
    text-align:center;
}
/* 오늘 날짜 스타일 */
#datepicker .ui-datepicker-today a {
	background: #A0E3F2 !important;
    border-radius: 8px;
}
/* hover한 날짜의 배경색 변경 */
.ui-datepicker td a:hover {
	box-shadow: inset 0 0 0 2px #CAE9FF; /* 가짜배경. 그냥 배경 넣을 경우 크기 커서 */
    background: #CAE9FF !important; 
        border-radius: 8px;
    
}
/* 클릭한 날짜 배경색 */
.ui-datepicker td.ui-datepicker-current-day a:not(.ui-datepicker-today a) {    		
	box-shadow: inset 0 0 0 1px #378CE7; /* 가짜배경. 그냥 배경 넣을 경우 크기 커서 */
    background: #378CE7 !important; 
    color:white !important;
        border-radius: 8px;   
}

#selectDate{
	font-size:25px;
}
#myCalendarTxt{
	font-size:20px;
}
.calTitle{
	margin-top:10px;
}
.calDate{
	display:inline-block;
}
.schedule{
	padding-top:10px;
}
