/* content 전체 간격 */
#memberUpdateConent{
display: flex;

display: inline-block;

}

/*form*/
#memberUpdate {
background-color: #fff;
width: 800px;
margin: 0 auto;
padding: 40px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* table */
#updateTable {
width: 100%;
border-collapse: collapse;
}
#updateTable th, #updateTable td {
text-align: left;
padding: 10px;
border-bottom: 1px solid #ddd;
}
#updateTable th {
background-color: #f8f8f8;
}
#updateTable th p{
	font-size:20px;
	text-align:center;
}
#updateTable input[type=text], #updateTable input[type=password] {
width: 100%;
padding: 15px;
margin: 5px 0 15px 0;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
#updateTable th tfoot{
text-align:center;
}
#updateTable tfoot th{
	text-align: center;
}


#updateSubmit, #updateReset {
width: 80%;
display: inline-block;
background-color: #378CE7;
color: white;
padding: 14px 20px;
margin: 10px 5px;
border: none;
border-radius: 4px;
cursor: pointer;
}
#updateReset {
background-color: #378CE7;
}
#updateSubmit:hover, #updateReset:hover {
opacity: 0.8;
}