* { padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

a { text-decoration: none;
    color: #c69c9c; }
/* body를 가운데 정렬하기. */
body {
    font-family: 'noto Sans KR', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url(./image/logintest.jpg); 
    background-size: cover;
  }
  body::before {
    
    position: absolute; z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(5, 252, 236, 0.6);
  }
  .wrap { 
    width: 500px;
    height: 710px;
    margin: 0 auto;
    background-color: rgb(236, 239, 241);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center; /* 가운데 정렬 추가 */

}
.wrap > div {
    width: 100%; margin: 0 100px; }

h1 { margin-bottom: 20px; }
/* submit을 제외한 나머지 input 태그에 적용 */
.wrap .form input:not(input[type='submit'], input[type='radio']) {
    border: 1px solid #db2020;
    width: 400px; 
    height: 50px;
    margin: 20px; 
    padding-left: 10px; 
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 25px;
     }
#login_wrap .forgetpw {
    text-align: left;
    font-size: 14px;
    margin: 0 0 10px 10px; 
    cursor: pointer;
 }


 .wrap .form input[type='submit'] {
    font-size: 35px;
    padding: 0 40px;
    background-color: rgb(227, 224, 202);
    border-radius: 10px;

 }
.wrap .form_btn {
    width: 400px;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    border: 0;
    background: linear-gradient(to left, #f857a6, #ff5858);
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
 }
 
#login_wrap .forgetpw a, 
#login_wrap .regist_btn a { color: red; }
#main_wrap .logout_btn a {
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
label {
    font-size: 18px;
    line-height: 2rem;
    padding: 0.2em 0.4em;
  }
  
  [type="radio"], span {
    vertical-align: middle;
  }
  
  [type="radio"] {
    appearance: none;
    border: max(2px, 0.1em) solid gray;
    border-radius: 50%;
    width: 1.25em;
    height: 1.25em;
    transition: border 0.5s ease-in-out;
  }
  
  [type="radio"]:checked {
    border: 0.4em solid rgb(40, 43, 44);
  }
  
  [type="radio"]:focus-visible {
    outline-offset: max(2px, 0.1em);
    outline: max(2px, 0.1em) dotted tomato;
  }
  
  [type="radio"]:hover {
    box-shadow: 0 0 0 max(4px, 0.2em) lightgray;
    cursor: pointer;
  }
  
  [type="radio"]:hover + span {
    cursor: pointer;
  }
  
  [type="radio"]:disabled {
    background-color: lightgray;
    box-shadow: none;
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  [type="radio"]:disabled + span {
    opacity: 0.7;
    cursor: not-allowed;
  }
  
  /* Global CSS */
  fieldset {
    display: flex;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 40px 20px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }