

#detailBody {
	width: 1200px;
	min-width:1200px;
	margin: 0;
	text-align: center;
	border:#CAE9FF solid 3px;
	border-radius: 10px;
	padding: 20px;
	background-color: white;
}


#detailTitle h1 {
	font-size: 50pt;
	display: inline;
	box-shadow: inset 0 -30px 0 pink;
}

/* hsla(53, 90%, 83%, 0.93) */
#detailTitle h3 {
	display: inline-block;
	width: auto;
	margin: 0 auto;
	box-shadow: inset 0 -30px 0 pink;
}

#detailMain img {
	width: 100%;
	height: 500px;
}

#detailMain {
	justify-content: space-between;
	align-items: center;
	font-size: 13pt;
	margin-top: 30px;
}

#datailInfo {
	border-radius: 20px;
	border: 1px solid rgba(0, 0, 0, .3);
	margin-top: 30px;
	margin-bottom: 30px;
}

#datailInfo table {
	width: 100%;
	border-collapse: collapse;
}

#detailInfo table td {
	padding: 10px;
	height: 40px;
	border-bottom: 1px solid rgba(0, 0, 0, .3);
}
#detailInfo table #icon img{
	padding:10px;
	border-radius:20px;
	border: 1px solid black;
	width:100px;
	height:100px;
	margin:0 20px 0 0;
	
	}
.noAllow{
	opacity:30%;
}
#datailInfo table tr:last-child td {
	border: none;
}

#detailFoot {
	margin-top: 30px;
}

#detailFoot button {
	width: 200px;
	height: 50px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
}

/* modal */
#modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1000px;
	display: none;
	background-color: rgba(0, 0, 0, 0.4);
}

#detailModal {
	position: absolute;
	top: 20%;
	left: 50%;
	width: 300px;
	height: 400px;
	padding: 40px;
	text-align: center;
	background-color: rgb(255, 255, 255);
	border-radius: 10px;
	box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
	transform: translateX(-50%) translateY(-50%);
}

#detailModal div:nth-child(1) {
	margin-top: 20px;
}

#detailModal div {
	margin: 5px;
}

#detailModal input {
	border: 1px solid black;
}

#detailModal textarea {
	border: 1px solid black;
}

#detailModal select {
	border: 1px solid black;
}

/* modal end */