#reviewListHeader h1 {
	margin-bottom: 20px;
	margin-left: 70px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
}
#frameNav{
border: none;
}
#reviewList {
	margin: 0;
	width: 1200px;
	min-width:1200px;
	height: 100%;
	 border:#CAE9FF solid 3px;
	 border-radius:20px;
	 	padding:20px;
}

#reviewListMain {
	
	width: 100%;

}

#reviewListMain .reviewListItem {
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	display: inline-block;
	background-color: white;
	width: 330px;
	height: 570px;
	padding: 12px;
	margin: 20px;
}

#reviewListMain table {
	width: 100%;
	height:100%;
	
}
#reviewListMain table tr{
	height:25px;
}
#reviewListMain table hr{
	margin-top:0;
	margin-bottom:10px;
}
#reviewListMain table tr:nth-child(2){
	font-size:16pt;
	height: 50px;
    text-align: center;
	vertical-align: middle;
}
.reviewListItem #title{
	font-weight: bold;
}
.reviewListItem #title:hover{
	text-decoration: underline;
}
.commentCount{
	text-align: right;
}
.like{
	text-align: center;
}
#reviewListMain .reviewListItem #reviewListImg img {
	width: 100%;
	height: 424px;
	border :1px solid rgba(0, 0, 0, .3);
}

#reviewListMain .reviewListItem tr:nth-last-child(2) img {
	width: 20px;
	height: 20px;
}
.reviewListItem a{
	color:black;
}
.reviewListItem a:visited{
	color:black;
}
#reviewListFoot {
	
	margin-top: 30px;
	text-align: center;
}
#reviewListWriteBtn{
	text-align: center;
	width: 20%;
	height: 50px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 15px;
	font-size: 20px;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
#reviewListWriteBtn:hover {
	background-color: #CAE9FF; /* 호버 시 배경색 변경 */
	color: white; /* 호버 시 텍스트 색상 변경 */
}
#reviewListWrite {
	margin-top: 30px;
	text-align: center;
}
#currentPaging {
	border: 1px solid #ccc;
	margin: 5px;
	padding: 5px 8px;
	color: red;
	cursor: pointer;
}
#paging {
	margin: 5px;
	padding: 5px;
	color: black;
	cursor: pointer;
}