
#reviewWrite::after {
	content: "";
	display: block;
	clear: both;
}
#frameNav{
	border:none;
}
#reviewWriteMain {
	width: 1000px;
	min-width:1000px;
	border-radius: 25px;
	padding: 30px;
	border:#CAE9FF solid 3px;
	background-color: white;
	text-align: center;
	margin-left: 60px;
}

#reviewWriteMain table {
	width: 100%;
	margin: 0 auto;
}
#reviewWriteForm{
	margin:0 auto;
}

#reviewWriteMain td {
	padding: 10px;
	height: 50px;
	text-align: left;
}

#reviewWriteMain form {
	margin: 30px 0;
	
}


#reviewWriteMain #title {
	width: 98%;
	margin: 0 auto;
	border-width: 0 0 0.5px 0;
	outline: none;
	height: 3em;
	line-height: 3em;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}

#reviewWriteMain input[type="button"] {
	text-align: center;
	width: 30%;
	height: 50px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 15px;
	font-size: 20px;
	font-style: italic;
	cursor: pointer;
	transition: all 0.3s ease 0s;
}
#reviewListWriteBtn:hover {
	background-color: #CAE9FF; /* 호버 시 배경색 변경 */
	color: white; /* 호버 시 텍스트 색상 변경 */
}

#reviewWriteMain tr:last-child td {
	text-align: center;
}

#reviewContent p{
	display: block;
}
