
#reviewWrite::after {
	content: "";
	display: block;
	clear: both;
}

#reviewWriteMain {
	width: 1200px;
	min-width:1200px;
	border-radius: 25px;
	padding: 30px;
	border:#CAE9FF solid 3px;
	background-color: white;
}

#reviewWriteMain table {
	width: 100%;
}

#reviewWriteMain td {
	padding: 10px;
	height: 50px;
	text-align: left;
}

#reviewWriteMain form {
	margin: 30px 0;
	
}


#reviewWriteMain #title {
	width: 98%;
	margin: 0 auto;
	border-width: 0 0 0.5px 0;
	outline: none;
	height: 3em;
	line-height: 3em;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	margin-bottom: 10px;
}

#reviewWriteMain input[type="button"] {
	text-align: center;
	width: 30%;
	height: 50px;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 15px;
	font-size: 20px;
	font-style: italic;
	cursor: pointer;
}

#reviewWriteMain tr:last-child td {
	text-align: center;
}

#reviewContent p{
	display: block;
}
