#reviewListHeader h1 {
	margin-bottom: 20px;
	margin-left: 70px;
	text-align: center;
	text-decoration: underline;
	display: inline-block;
}

#reviewList {
	margin: 0;
	padding: 10px;
	width: 1200px;
	min-width:1200px;
	height: 100%;
	 border:#CAE9FF solid 3px;
	 border-radius:20px;
	 	padding:20px;
}

#reviewListMain {
	
	width: 100%;

}

#reviewListMain .reviewListItem {
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	display: inline-block;
	background-color: white;
	width: 330px;
	height: 570px;
	padding: 12px;
	margin: 20px;
}

#reviewListMain table {
	width: 100%;
	height:100%;
	
}
#reviewListMain table tr{
	height:25px;
}
#reviewListMain table hr{
	margin-top:0;
	margin-bottom:10px;
}
#reviewListMain table tr:nth-child(2){
	font-size:15pt;
}
#reviewListMain .reviewListItem #reviewListImg img {
	width: 100%;
	height: 434px;
}

#reviewListMain .reviewListItem tr:nth-last-child(2) img {
	width: 20px;
	height: 20px;
}

#reviewListFoot {
	
	
	text-align: center;
}

#reviewListWrite {
	margin-top: 30px;
	text-align: center;
}