#reviewMain {
	margin: 0;
	width: 1200px;
	min-width: 1200px;
	height: 100%;
}

.reviewMain #backList {
	margin-left: 20px;
	margin-bottom: 10px;
}

.reviewMain #backList a {
	text-decoration: underline;
	color: black;
	cursor: pointer;
}

.reviewMain #reviewItem {
	border: #CAE9FF solid 3px;
	border-radius: 10px;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
}

.reviewMain #reviewInfo h2 {
	text-align: left;
}

.reviewMain #reviewContent  img {
	width: 700px;
	height: 400px;
	display: block;
	margin: 40px auto;
}

.reviewMain #reviewInfo {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.reviewMain p {
	display: inline-block;
}

.reviewMain #reviewContent {
	position: relative;
	margin-top: 20px;
	height: 50%;
	padding: 20px;
	line-height: 25px;
}

.reviewMain #reviewLike {
	margin-top: 30px;
	text-align: center;
}

.reviewMain #reviewUtil button {
	width: 200px;
	height: 50px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
}

.reviewMain #reviewComment {
	width: 1200px;
	min-width: 1200px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
}

.reviewMain #commentWrite {
	border: 1px solid black;
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
}

.reviewMain #commentWrite textarea {
	padding: 15px;
	width: 81%;
	border: none;
	resize: none;
	outline: none;
	line-height: 1;
}

.reviewMain #commentWrite #commentBtn {
	vertical-align: top;
	margin-left: 0;
	width: 167px;
	height: 100px;
	border: none;
	cursor: pointer;
	background-color: #F8F6F4;
}

.reviewMain #commentConsole {
	margin-left: 60px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
}

.reviewMain #commentConsole #commentTable {
	border-collapse: collapse;
	width: 100%; 
	text-align: left;
	
}

.reviewMain #commentConsole #commentTable #imgTd {
	width: 100px;
	height: 100px;
}
.reviewMain #commentConsole #commentTable #imgTd img{
	width:70px;
	height:70px;
}
.reviewMain #commentConsole #commentTable #commentTr{
	border-bottom:1px solid;
	border-color: rgba(128, 128, 128, 0.6);
	
}


#reviewListBtn {
	width: 200px;
	height: 50px;
	margin: 10px;
	border: 1px solid rgba(0, 0, 0, .3);
	border-radius: 10px;
	background-color: white;
	cursor: pointer;
}

.reviewMain #reviewUtil {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}
#commentContentUpdateArea {
	resize: none; /* 크기 조절 비활성화 */
	overflow-y: scroll; /* 세로 스크롤바 항상 표시 */
	height: 100px; /* 적절한 높이 설정 */
	width: 80%; /* 적절한 너비 설정 */
}