/*전체*/
body {
	color: #224148;
	margin: 0;
	padding: 0;
	height: 100vh;
	overflow: auto;
	min-width: 500px; /*1920 * 1080 기준 수정*/
}

ul {
	list-style-type: none;
	padding: 0;
}

@font-face {
	font-family: 'Dovemayo_gothic';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
}
/*header*/
/*main menu*/
/* 배너와 네비게이션 스타일 ---------------------------------------------*/
.nav_section {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.top-menu-item {
	list-style: none;
	margin: 10px;
}
/*@media screen and (max-width: 100%) {
        .nav_section {
          flex-direction: column;
          align-items: flex-start;
        }
      }*/ /*추후 여유되면 전체 수정. 우선 삭제.*/
#myButton {
	display: none;
	position: fixed;
	bottom: 1%;
	right: 20px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(0, 0, 0);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

nav {
	/* 로고 */
	padding-top: 0.3%;
	width: 20%;
	padding: auto;
	font-size: 18px;
	margin-right: -5%;
}

nav>li>a {
	white-space: nowrap;
	/* 호버시 글씨 밑으로 내려감 방지 */
	overflow: hidden;
	text-overflow: ellipsis;
}

.menu-content>li {
	position: relative;
	list-style-type: none;
	text-align: left;
}

.menu-content>li>a {
	position: relative;
	text-align: center;
	display: block;
	padding: 15% 15%;
	color: #333;
	text-decoration: none;
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
}

.top-menu-item {
	margin-left: 20px;
	margin-right: 25px;
}

.top-menu-item:first-child {
	margin-left: 0;
}

.top-menu-item:last-child {
	margin-right: 0;
}

.nav>li>a {
	margin-left: 60%;
	text-decoration: none;
}

.container {
	position: absolute;
	bottom: 10%;
	background-color: #ffffff;
	transition: 0.5s ease;
	display: flex;
	overflow: hidden;
}

.menu:hover .container {
	bottom: 70%;
	overflow: hidden;
}

.menu {
	/*margin-top: -1%;*/
	/*margin-bottom: -1%;*/ /*이부분 때문에 다른데에서 가져가면 글씨 잘리는 데 이거 필요한 건 가요?*/
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

section {
	/* 메뉴바 중간 */
	align-items: center;
	justify-content: center;
	width: 55%;
	display: flex;
	white-space: nowrap;
	/* 글씨 밑으로 내려감 방지 */
	text-overflow: ellipsis;
	padding-top: 0.5%;
}

.banner {
	overflow: hidden;
	margin-bottom: 1%;
	list-style-type: none;
	/* 앞에 점 지우기 */
	display: block;
	background-color: #ffffff;
	/* 메뉴바 색상 */
	width: 100%;
}

.nav_section .nav {
	padding: 0.5%;
	list-style-type: none;
	/* 앞에 점 지우기 */
	display: flex;
	/* Flex 컨테이너로 지정합니다. */
	align-items: center;
	/* 가로 축(세로선) 기준으로 중앙 정렬합니다. */
	margin-top: 1.2%;
	font-size: 18px;
	/* 로고의 글자 크기 */
}

/* 네비게이션 링크 스타일 */
section a:hover {
	color: #6b97f7;
	/* 호버 상태일 때의 색상 */
}

/* 입력 필드 스타일 조정 */
aside {
	padding-top: 0.3%;
	width: 25%;
	position: relative;
	display: flex;
	white-space: nowrap;
	/* 호버시 글씨 밑으로 내려감 방지 */
	text-overflow: ellipsis;
}

aside #searchBtn {
	margin-top: 0.3%;
	margin-left: 0.5%;
	background-color: #ffffff;
	border: 2px solid black;
}

aside #loginBtn {
	width: 50%;
	color: #ffffff;
	background-color: rgb(68, 68, 68);
	border: 1px solid black;
}

aside #JoinBtn {
	margin-left: 10px;
	color: #ffffff;
	background-color: rgb(68, 68, 68);
	border: 1px solid black;
}

aside #searchBtn, aside #loginBtn, aside #JoinBtn {
	border-radius: 10px; /* 원하는 둥근 정도를 픽셀로 지정 */
}

aside .login {
	padding-top: 0.3%;
	padding-left: 5%
}

/*content*/
#frameContent {
	display: flex;
	min-height: 400px;
}
/*nav*/
#frameNav {
	height: calc(100% -70px-330px);
	min-width: 300px; /* nav min width >= nadeuliNav width + padding */
	border-right: #A0E3F2 solid 3px;
}

#nadeuliNav {
	margin-top: 45px;
	border: #A0E3F2 solid;
	border-radius: 10px;
	width: 200px;
	margin-left: 30px;
	padding: 10px;
	font-weight: bolder; 
}

#nadeuliNav>li:first-of-type {
	margin-top: 30px;
}

#nadeuliNav>li:last-of-type {
	margin-bottom: 30px;
}
#nadeuliNav>li {
	position: relative;
	list-style-type: none;
	text-align: left;
	margin-top: 15px;
	display: inline-block;
	cursor: pointer;
	margin-left: 10px;
}

#nadeuliNav>li>.nav-content {
	padding: 0;
}

.nav-content>li>a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 30px;
	text-decoration: none;
	font-size: 14px;
	color: #496B73;
}

.nav-content>li>ul>li>a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 50px; /*너무 많이 잡으면 nav 영역 넘어가 content영역 침범!*/
	text-decoration: none;
	color: #496B73;
	font-size: 12px;
	/*하위 항목은 점점 글씨가 작아지나 여기는 너무 작아져서 바로 상위 항목과 같은 글씨 크기로 맞춤*/
}

.nav-content>li:first-child {
	margin-top: 3px;
}


/*updown button*/
#upDownBtn {
	position: fixed; 
	right: 10px; 
	bottom: 15px; 
	display: flex; 
	flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬 */
	padding: 10px; 
}

#upBtn, #downBtn {
	font-size: 15px;
	padding: 5px 20px;
	margin-bottom: 10px; /* 버튼 사이의 간격 */
	background-color: #378CE7;
	border: none;
	border-radius: 10px;
	color: white;
}

#upBtn:hover, #downBtn:hover {
	cursor: pointer;
}
/* 마지막 버튼의 margin-bottom을 제거 */
#downBtn {
	margin-bottom: 0;
}

/*page contennt*/
#content {
	min-width: 1000px; /*1920*1080기준 px로 수정*/
	width: 1000px; /*min w= w*/
	padding: 40px 70px;
	border-right: #A0E3F2 solid 3px;
}
#main_map{
	min-width: 800px; /*1920*1080기준 px로 수정*/
	width: 800px; /*min w= w*/
	padding: 40px 70px;
	border-right: #A0E3F2 solid 3px;
}

/*footer*/
/*site map*/

/* footer 풋터 -----------------------------------------------------------------------------*/
footer{
	margin-top:40px;
}
footer #siteMap{
	text-align:center;	
}
footer select{
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
            background-color: #378CE7;
            cursor: pointer;
        }

footer #siteMap>       button {
            padding: 10px 20px;
            border-radius: 5px;
            border: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            margin-left: 10px;
        }

footer .sns_list .tit {
	display: inline-block;
	margin-top: 2%;
	padding-left: 3.3%;
	color: #333;
	font-size: 30px;
}

footer .sns_list {
	/* 여행 후기를 SNS에 남겨주세요!  */
	display: flex;
	justify-content: center;
	clear: both;
	text-align: center;
}

footer ul>li {
	list-style-type: none;
	display: inline-block;
	/* 앞에 점 지우기 */
}

footer .sns_list .icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 40px 40px;
	vertical-align: middle;
}

footer .sns_list .sns_name {
	display: inline-block;
	margin-left: 0.3%;
	color: #666;
	font-size: 15px;
	vertical-align: middle;
	text-align: left;
}

footer .sns_list ul {
	/* 아이콘 */
	padding: 0.2%;
	display: flex;
	margin-left: 10%;
	justify-content: space-between;
}

/* sns 아이콘 */
footer .sns_list .icon_blog {
	background-image: url(../icon/sns1.png);
}

footer .sns_list li:hover .icon_blog {
	background-image: url(../icon/sns1-2.png);
}

footer .sns_list .icon_post {
	background-image: url(../icon/sns2.png);
}

footer .sns_list li:hover .icon_post {
	background-image: url(../icon/sns2-2.png);
}

footer .sns_list .icon_band {
	background-image: url(../icon/sns3.png);
}

footer .sns_list li:hover .icon_band {
	background-image: url(../icon/sns3-2.png);
}

footer .sns_list .icon_facebook {
	background-image: url(../icon/sns4.png);
}

footer .sns_list li:hover .icon_facebook {
	background-image: url(../icon/sns4-2.png);
}

footer .sns_list .icon_twitter {
	background-image: url(../icon/sns5.png);
}

footer .sns_list li:hover .icon_twitter {
	background-image: url(../icon/sns5-2.png);
}

footer .sns_list .icon_kakaostory {
	background-image: url(../icon/sns6.png);
}

footer .sns_list li:hover .icon_kakaostory {
	background-image: url(../icon/sns6-2.png);
}

footer .sns_list .icon_instagram {
	background-image: url(../icon/sns7.png);
}

footer .sns_list li:hover .icon_instagram {
	background-image: url(../icon/sns7-2.png);
}

/*-----------------------------------------------------*/
.btm_menu a {
	display: flex;
	white-space: nowrap;
	/* 호버시 글씨 밑으로 내려감 방지 */
	text-overflow: ellipsis;
	margin-left: 10px;
	color: #666;
	font-size: 20px;
	letter-spacing: -0.25px;
}

a:link, a:visited, a:hover, a:focus, a:active {
	text-decoration: none;
}

footer .badak {
	position: relative;
	/* 상대 위치 지정 */
	display: flex;
}

footer .badak>div {
	position: absolute;
	/* 절대 위치 지정 */
	right: 5%;
	/* 우측에서 0의 위치에 배치 */
}
/*-----------------------------------------------------*/
