html {
    margin-left: -2px;
}

/*전체*/

body {
    color: #224148;
    padding: 0;
    margin: 2px;
    height: 100vh;
    overflow: auto;
    width: 1903px; /*1920 * 1080 기준 수정*/
    min-height: 1080px;
    list-style-type: none;
    font-family:'Dovemayo_gothic';
}

ul {
    list-style-type: none;
    padding: 0;
}

@font-face {
    font-family: 'Dovemayo_gothic';
    src:
            url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.1/Dovemayo_gothic.woff2')
            format('woff2');
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
}

@font-face {
    font-family: "ffont";
    src: url("../../font/기본 폰트.ttf") format("truetype");
}

@font-face {
    font-family: "logo";
    src: url("../../font/사이트명.ttf") format("truetype");
}

@font-face {
    font-family: "cld";
    src: url("../../font/캘린더.ttf") format("truetype");
}


/*header*/
/*main menu*/
/* 배너와 네비게이션 스타일 ---------------------------------------------*/
header{
	font-family: "ffont";
}
hr {
    border-style: solid;
    /* 테두리 스타일 */
    border-width: 2px;
    /* 테두리 두께 */
    border-color: #CAE9FF;
    /* 테두리 색상 */
}

#myBtnTop,
#myBtnBottom {
    display: none;
    /* 초기 상태는 숨김 */
    position: fixed;
    bottom: 80px;
    /* 하단에서 20px 위 */
    right: 30px;
    /* 오른쪽에서 30px 왼쪽 */
    z-index: 99;
    border: none;
    outline: none;
    background-color: #378CE7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtnBottom {
    bottom: 20px;
    /* "맨 아래로" 버튼은 "맨 위로" 버튼보다 조금 더 위에 위치 */
}

#myBtnTop:hover,
#myBtnBottom:hover {
    background-color: #555;
}

/* 여기부터 메뉴바 */

.banner {
    display: flex;
    flex-direction: column;
}

.menu {
    height: 160px;
    width: 1903px;
    flex-direction: column;
    /* 요소들을 세로로 쌓음 */
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav {
    position: relative;
    right: 380px;
    font-size: 18px;
    width: 1500px;
    margin-top: -22px
}

nav .logo {
    color: #203987;
    top: 7px;
    font-family: "logo";
    position: relative;
    left:50px;
    font-size: 60px;
}

.nav_section {
    border: 2px solid #CAE9FF;
    display: none;
    background-color: white;
    /* 배경색 설정 */
    z-index: 999;
    /* 상위 레이어에 표시 */
}

.nav_section div ul li {
    width: 130px;
    padding: 20px;
    /* 내부 여백 */

}

.show {
    display: flex;
    top: 162px;
    position: absolute;
    width: 1903px;
    height: 250px;
    opacity: 80%;
}

nav,
.search,
aside {
    display: flex;
}

.nav ul{
    position: relative;
    list-style: none;
    padding-left: 380px;
}

.nav_section ul {
    list-style: none;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav ul li,
.nav_section ul li {
    display: inline-block;
    padding: 0 10px;
}
.menu-icon{
    display: inline-block;
    width: 50px;
    height: 35px;
    position: relative;
    left: 10px;
    top: 20px;
}
.menu-icon span{
    bottom: 20px;
    left: 20px;

}

.nav .a1 {
    margin-left: 300px;
    margin-right: 50px;
}

.nav .a2 {
    margin-right: 15px;
    margin-left: 100px;
}

.nav .a3 {
    margin-left: 90px;
    margin-right: 10px;
}

.nav .a4 {
    margin-left: 100px;
}

.nav .a5 {
    margin-left: 100px;
}

.sub_menu.travel,
.sub_menu.review,
.sub_menu.service-center {
    position: relative;
}

.sub_menu.travel {
    left: 595px;
    height: 250px;
    width: 100px;
    display: inline-block;
}

.sub_menu.review {
    left: 677px;
    height: 250px;
    width: 100px;
    display: inline-block;
}

.sub_menu.service-center {
    height: 250px;
    width: 100px;
    display: inline-block;
    text-align: center;
    left: 720px;
}

.sub_menu {
    font-size: 18px;
}

.sub_menu ul li a{ /* 메뉴바 내부 글자 색상 */
    color: #000000;
}

.nav ul li a {
    color: #000000;
    text-decoration: none;
}

.nav .menu-icon {
    cursor: pointer;
    /* 마우스 오버 시 커서 변경 */
    margin-left: -100px;
    padding-top: 3px;
}

.menu-icon span {
    margin-top: 5px;
    background: #333;
    position: absolute;
    height: 3px;
    width: 25px;
    transition: 0.2s;
}

.menu-icon span:before,
.menu-icon span:after {
    content: '';
    background: #333;
    position: absolute;
    height: 3px;
    width: 25px;
    left: 0;
    transition: 0.2s;
    cursor: pointer;
}

.menu-icon span:before {
    top: -8px;
}

.menu-icon span:after {
    bottom: -8px;
}

/* 버튼 크기 조절 및 이미지 추가 */

.logobar {
    position: relative;
    top: 10px;
    width: 1903px;
    display: flex;
}

.login {
    margin-top: 5px;
    width: 300px;
    text-overflow: ellipsis;
}

.search {
    margin-left: 500px;
    width: 1200px;
    position: relative;
    display: flex;
    text-overflow: ellipsis;
}

input::placeholder {
    text-align: center;
}

#inp_search {
    right: 216px;
    top: 10px;
    position: relative;
    text-align: left;
    background-color: #ffffff;
    width: 742px;
    height: 41px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
}

.search #searchBtn {
    bottom: -1px;
    position: relative;
    width: 100px;
    height: 35px;
    margin-left: -200px;
    /* 박스의 넓이 */
    /* 내부 여백 */
    background-color: #ffffff;
    /* 백그라운드 색상 */
    border: 2px solid #CAE9FF;
    /* 박스의 테두리 */
}

.login #loginBtn, #logoutBtn {
    width: 100px;
    /* 박스의 넓이 */
    color: #000000;
    /* 내부 여백 */
    background-color: #ffffff;
    /* 백그라운드 색상 */
    border: 2px solid #CAE9FF;
    /* 박스의 테두리 */
}

.login #JoinBtn, #mypageBtn {
    width: 100px;
    margin-left: 10px;
    /* 박스의 넓이 */
    color: #000000;
    /* 내부 여백 */
    background-color: #ffffff;
    /* 백그라운드 색상 */
    border: 2px solid #CAE9FF;
    /* 박스의 테두리 */
}


#searchBtn,
#loginBtn, #logoutBtn
,#JoinBtn, #mypageBtn{
    border-radius: 10px;
    /* 원하는 둥근 정도를 픽셀로 지정 */
    margin-top: 15px;
    cursor: pointer;
}

/* 검색 버튼 호버 스타일 */
#searchBtn:hover {
    background-color: #CAE9FF; /* 녹색으로 변경 */
    color: #000000; /* 텍스트 색상을 흰색으로 변경 */
}

/* 로그인 버튼 호버 스타일 */
#loginBtn:hover {
    background-color: #CAE9FF; /* 파란색으로 변경 */
    color: #000000; /* 텍스트 색상을 흰색으로 변경 */
}

/* 회원가입 버튼 호버 스타일 */
#JoinBtn:hover {
    background-color: #CAE9FF; /* 빨간색으로 변경 */
    color: #000000; /* 텍스트 색상을 흰색으로 변경 */
}


/*-------------------------------------------------------------------------------------------------------------*/
/*content*/
#frameContent {
    border-top: solid 2px #CAE9FF;
    display: flex;
    min-height: 800px;
    width: 1903px;
}

#frameNav {
    /*height: calc(100% -70px-330px);*/
    min-width: 300px; /* nav min width >= nadeuliNav width + padding */
    border-right: #CAE9FF solid 2px;
}

#nadeuliNav {
    margin-top: 50px;
    border: #A0E3F2 solid;
    border-radius: 10px;
    width: 200px;
    margin-left: 30px;
    padding: 10px;
    position: absolute;
    z-index: 99;
    background-color: #ffffff;
    color: #496B73 !important;
    transition : 0.5s ease-out;
    font-size: 25px;
}

#nadeuliNav>li:first-of-type {
    margin-top: 30px;
}

#nadeuliNav>li:last-of-type {
    margin-bottom: 30px;
}
#nadeuliNav>li {
    position: relative;
    list-style-type: none;
    text-align: left;
    margin-top: 15px;
    display: inline-block;
    cursor: pointer;
    margin-left: 10px;
    color: #496B73 !important;
}
#nadeuliNav>li>a{
	color: #496B73 !important;
}
#nadeuliNav>li>.nav-content {
    padding: 0;
}

.nav-content>li>a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 30px;
    text-decoration: none;
    font-size: 18px;
    color: #496B73;
}

.nav-content>li>ul>li>a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 50px; /*너무 많이 잡으면 nav 영역 넘어가 content영역 침범!*/
    text-decoration: none;
    color: #496B73;
    font-size: 15px;
    /*하위 항목은 점점 글씨가 작아지나 여기는 너무 작아져서 바로 상위 항목과 같은 글씨 크기로 맞춤*/
}

.nav-content>li:first-child {
    margin-top: 3px;
}

/*updown button*/
#upDownBtn {
    z-index: 99;
    position: fixed;
    right: 30px;
    bottom: 15px;
    display: flex;
    flex-direction: column; /* 자식 요소들을 세로 방향으로 정렬 */
    padding: 10px;
}

#upBtn, #downBtn {
    font-size: 15px;
    padding: 5px 20px;
    margin-bottom: 10px; /* 버튼 사이의 간격 */
    background-color: #378CE7;
    border: none;
    border-radius: 10px;
    color: white;
}

#upBtn:hover, #downBtn:hover {
    cursor: pointer;
}
/* 마지막 버튼의 margin-bottom을 제거 */
#downBtn {
    margin-bottom: 0;
}

/*page contennt*/
#content {
    min-width: 1505px; /*1920*1080기준 px로 수정*/
    width: 1510px; /*min w= w*/
    padding: 40px 40px;
}


/*footer*/
footer{
    width: 1903px;
    background:#EEEEEE;
}
/*site map*/
#siteMap{
    width: 1903px;
    background:#F1F3F4;
    padding: 10px 0px 10px 0px;
    text-align:right;
}
.selectBox {
    display:inline-block;
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #A0E3F2;
}
#site-select::-ms-expand{
    display: none;
}
.site-select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    appearance: none
}
.site-select option {
    background: #ffffff;
    color: black;
    padding: 3px 0;
    font-size: 16px;
}
/* 옵션에 마우스 오버 시의 스타일은 CSS에서 직접 적용하기 어렵습니다. */
.siteSelectBtn{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: inherit;
    border-left: 1px solid #A0E3F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteSelectBtn > img{
    width: 50%;
    transition: .3s;
}
.selectBox .site-select:focus + .siteSelectBtn img {
    transform: rotate(180deg);
}
#goSite1{
    margin-right:30px;
}
#goSite2{
    margin-right:80px;
}
#goSite2, #goSite1{
    background:#A0E3F2;
    border-radius:5px;
    width:60px;
    height:30px;
    border:none;
}
#goSite1:hover,#goSite2:hover{
    cursor:pointer;
}
/* footer 풋터 -----------------------------------------------------------------------------*/
#titcontent {
    align-items: center; /* 세로 중앙 정렬 */
    clear: both;
}

footer .tit {
    background-color: #F1F3F4;
    position: relative;
    width: 1903px;
    display: flex; /* inline-block에서 flex로 변경 */
    justify-content: center; /* 가로축 중앙 정렬 */
    align-items: center; /* 세로축 중앙 정렬 */
    height: 90px;
    color: #333;
    font-size: 30px;
    text-align: center; /* 텍스트 가로 중앙 정렬 */
}

footer .sns_list {
    background-color: #F1F3F4;
    width: 1903px;
    height: 80px;
    display: flex;
    justify-content: center;
}

footer ul>li {
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: none;
    display: inline-block;
    /* 앞에 점 지우기 */
}

footer .sns_list .icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 40px 40px;
    vertical-align: middle;
}

footer .sns_list .sns_name {

    display: inline-block;
    margin-left: 3px;
    color: #666;
    font-size: 15px;
    vertical-align: middle;
    text-align: left;
}

footer .sns_list ul {
    /* 아이콘 */
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
/* sns 아이콘 */
footer .sns_list .icon_blog {
    background-image: url(../icon/sns1.png);
}

footer .sns_list li:hover .icon_blog {
    background-image: url(../icon/sns1-2.png);
}

footer .sns_list .icon_post {
    background-image: url(../icon/sns2.png);
}

footer .sns_list li:hover .icon_post {
    background-image: url(../icon/sns2-2.png);
}

footer .sns_list .icon_band {
    background-image: url(../icon/sns3.png);
}

footer .sns_list li:hover .icon_band {
    background-image: url(../icon/sns3-2.png);
}

footer .sns_list .icon_facebook {
    background-image: url(../icon/sns4.png);
}

footer .sns_list li:hover .icon_facebook {
    background-image: url(../icon/sns4-2.png);
}

footer .sns_list .icon_twitter {
    background-image: url(../icon/sns5.png);
}

footer .sns_list li:hover .icon_twitter {
    background-image: url(../icon/sns5-2.png);
}

footer .sns_list .icon_kakaostory {
    background-image: url(../icon/sns6.png);
}

footer .sns_list li:hover .icon_kakaostory {
    background-image: url(../icon/sns6-2.png);
}

footer .sns_list .icon_instagram {
    background-image: url(../icon/sns7.png);
}

footer .sns_list li:hover .icon_instagram {
    background-image: url(../icon/sns7-2.png);
}

/*-----------------------------------------------------*/

.btm_menu {
    background-color: #EEEEEE;
    margin: 0px;
    padding: 0px;
    width: 1903px;
    height: 60px;
    position: relative;
    text-align: center;
}

.btm_menu a {
    margin-top: 18px;
    display: flex;
    white-space: nowrap;
    /* 호버시 글씨 밑으로 내려감 방지 */
    text-overflow: ellipsis;
    margin-left: 10px;
    color: #666;
    font-size: 20px;
    letter-spacing: -0.25px;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {

    text-decoration: none;
}

.badak p {
    margin-left: 20px;
    margin-top: 24px;
}

.cliud_camp a {
    font-size: 18px;
    color: #000000;
}

footer .badak {
   	background-color: #EEEEEE;
    width: 1903px;
    height: 60px;
    position: relative;
    /* 상대 위치 지정 */
    display: flex;
}

.TourAPI {
    padding-top: 5px;
    position: absolute;
    /* 절대 위치 지정 */
    right: 110px;
}
/*-----------------------------------------------------*/

/* 검색 기능 */
.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}

.ui-autocomplete {
    height: 300px;
}