/* 폰트 -----------------------------------------------------------------------*/

@font-face {
    font-family: "ffont";
    src: url("../../font/기본 폰트.ttf") format("truetype");
}

@font-face {
    font-family: "logo";
    src: url("../../font/사이트명.ttf") format("truetype");
}

@font-face {
    font-family: "cld";
    src: url("../../font/캘린더.ttf") format("truetype");
}

body {
    list-style-type: none;
    font-family: "ffont";
    min-width: 1903px;
    /* 원하는 최소 너비 설정 */
    min-height: 1080px;
    /* 원하는 최소 높이 설정 */
    overflow: auto;
    /* 필요한 경우 스크롤바 표시 */
}

hr {
    border-style: solid;
    /* 테두리 스타일 */
    border-width: 2px;
    /* 테두리 두께 */
    border-color: #CAE9FF;
    /* 테두리 색상 */
}

#myBtnTop,
#myBtnBottom {
    display: none;
    /* 초기 상태는 숨김 */
    position: fixed;
    bottom: 80px;
    /* 하단에서 20px 위 */
    right: 30px;
    /* 오른쪽에서 30px 왼쪽 */
    z-index: 99;
    border: none;
    outline: none;
    background-color: #378CE7;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
}

#myBtnBottom {
    bottom: 20px;
    /* "맨 아래로" 버튼은 "맨 위로" 버튼보다 조금 더 위에 위치 */
}

#myBtnTop:hover,
#myBtnBottom:hover {
    background-color: #555;
}

/*----------------------------------------------------------------*/

/* slide.css */

/* Slideshow container */
.slideshow-container {
    border-top: 2px solid #CAE9FF;
    border-bottom: 2px solid #CAE9FF;
    width: 1903px;
    position: relative;
    padding-bottom: 100px;
}

/* Hide the images by default */

.mySlides a img {
    /* 사진 크기 */
    width: 1903px;
    height: 500px;
    object-fit: cover;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 230px;
    width: auto;
    padding-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev,
.next {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
    color: #ffffff;
    text-shadow: 2px 2px 2px #000000;
    font-size: 40px;
    padding: 8px 12px;
    position: absolute;
    bottom: 360px;
    left: 50px;
    /* 내용입력 범위 */
    width: 600px;
}

/* The dots/bullets/indicators */
.dotBtn {
    display: flex;
    justify-content: center;
}

.dot {
    text-align: center;
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50px;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* slide.css */

/* 추천여행지 */

.hot {
    border-top: 2px solid #CAE9FF;
    border-bottom: 2px solid #CAE9FF;
    padding-top: 100px;
    padding-bottom: 100px;
    width: 1903px;
    justify-content: center;
    position: relative;
    text-align: center;
}

h2 {
    padding-bottom: 50px;
    display: block;
    clear: both;
    text-align: center;
}

.destination-grid {
    display: grid;
    gap: 1px;
    height: 260px;
    grid-template-columns: repeat(5, 1fr);
    /* 두 개의 열을 동일한 너비로 설정 */
}

.destination-card {
    position: relative; /* Add this line */
    border: 1px solid #CAE9FF;
    border-radius: 10px;
    width: 370px;
}
.destination-card img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    margin-bottom: -6px;
}

.destination-card h3 {
    margin: 0;
    padding: 10px;
    background-color: lightskyblue;
    color: white;
    font-size: 18px;
    position: relative;
    z-index: 1;
    border-radius: 0 0 10px 10px;
}

.destination-card p {
    margin: 0;
    padding: 10px;
    background-color: lightskyblue;
    color: white;
    font-size: 18px;
    position: inherit;
    z-index: 1;
    border-radius: 10px 10px 0 0;
}

/* 추천여행지 */

/* 캘린더 */
#cln {
    margin: 0px;
    height: 50px;
    width: 1903px;
    padding-top: 100px;
    padding-bottom: 20px;
}

#datepicker {
    width: 1903px;
    padding-bottom: 50px;
}

#datepicker > div:nth-child(1) {
    display: flex !important;
}

#datepicker > div:nth-child(1) > table:nth-child(2){
    border: 2px solid #CAE9FF;
    margin-bottom: -0em;
}

.ui-datepicker {
    left: 400px;
    position: relative;
    width: 1100px;
    display: flex;
}

.ui-state-default{
    margin: 10px 0;
}

.ui-state-active{
    display: inline-block;

}

#datepicker > div:nth-child(1) > div:nth-child(1) {
    width: 300px;
}

.ui-widget.ui-widget-content {
    border: 0;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

.ui-datepicker .ui-widget-header {
    /*달력상단색상*/
    position: relative;
    padding: 0px 0 36px 0;
    border: 0;
    background: #CAE9FF;
    color: #5a6ec1;
    border-radius: 0;
}


/* 날짜 글씨색 변경 */

.ui-datepicker-title{
    font-size: 23px;
    align-content: center;
    height: 50px !important;
}

.ui-datepicker-prev {
    margin-top: 10px;
    align-content: center;
}

.ui-datepicker-next{
    margin-top: 10px;
    align-content: center;
}

.ui-datepicker td a {
    color: black !important;
    background: #fff !important;
    border: none !important;
    text-align: center;
    padding: 10px 0;
}
.ui-datepicker-week-end{
    left: 44px !important;
}
/* 오늘 날짜 스타일 */
#datepicker .ui-datepicker-today a {
    background: #CAE9FF !important;
    border-radius: 5px;
}

/* hover한 날짜의 배경색 변경 */
.ui-datepicker td a:hover {
    background: #CAE9FF !important;
    border-radius: 5px;
}

/* 클릭한 날짜 배경색 */
.ui-datepicker td.ui-datepicker-current-day a:not(.ui-datepicker-today a) {
    background: #378CE7 !important;
    border: red solid 1px;
    border-radius: 5px;
    color: white !important;
}


#cldout {
    /* 날짜 출력 */
    font-family: "cld";
    position: relative;
    background-color: #CAE9FF;
    width: 170px;
    height: 30px;
    z-index: 99;
    left: 445px;
    bottom: 300px;
    font-size: 14px;
    font-weight: 700;
}

#maincln {
    width: 1903px;
    border-top: 2px solid #CAE9FF;
}

/*site map*/

#siteMap{
    width: 1903px;
    background:#F1F3F4;
    padding: 10px 0px 10px 0px;
    text-align:right;
}
.selectBox {
    display:inline-block;
    position: relative;
    width: 200px;
    height: 35px;
    border-radius: 4px;
    border: 2px solid #A0E3F2;
}
#site-select::-ms-expand{
    display: none;
}
.site-select {
    width: inherit;
    height: inherit;
    background: transparent;
    border: 0 none;
    outline: 0 none;
    padding: 0 5px;
    position: relative;
    z-index: 3;
    appearance: none
}
.site-select option {
    background: #ffffff;
    color: black;
    padding: 3px 0;
    font-size: 16px;
}


/* 옵션에 마우스 오버 시의 스타일은 CSS에서 직접 적용하기 어렵습니다. */
.siteSelectBtn{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 40px;
    height: inherit;
    border-left: 2px solid #A0E3F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.siteSelectBtn > img{
    width: 50%;
    transition: .3s;
}
.selectBox .site-select:focus + .siteSelectBtn img {
    transform: rotate(180deg);
}
#goSite1{
    margin-right:30px;
}
#goSite2{
    margin-right:80px;
}
#goSite2, #goSite1{
    background:#A0E3F2;
    border-radius:5px;
    width:60px;
    height:30px;
    border:none;
}
#goSite1:hover,#goSite2:hover{
    cursor:pointer;
}