<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.nadeuli.mypage.dao.MypageDAO">
 	<insert id="calWrite" parameterType="com.nadeuli.mypage.dto.CalDTO">
		insert into USER_CALENDAR (CAL_STARTDATE, CAL_ENDDATE,CAL_TITLE, CAL_MEMO, CAL_COLOR, CAL_BOARDNO) 
						values(#{cal_startDate}, #{cal_endDate}, #{cal_title}, #{cal_memo}, #{cal_color}, #{cal_boardNo})
	</insert>
	
	<select id="calList" resultType="com.nadeuli.mypage.dto.CalDTO">
		select * from USER_CALENDAR
	</select>
	
	<delete id="calDelete" parameterType="int">
		delete from User_CALENDAR where cal_no = #{cal_no}
	</delete>
	
	<update id="calUpdate" parameterType="com.nadeuli.mypage.dto.CalDTO">
		update user_calendar set cal_Title = #{cal_title}
								,cal_memo = #{cal_memo}
								,cal_startDate = #{cal_startDate}
								,cal_endDate = #{cal_endDate}
								,cal_color = #{cal_color}
							where cal_no = #{cal_no}
	</update>
	
	<update id="memberUpdate" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update member set mem_pw=#{mem_pw}
						  ,mem_name=#{mem_name}
						  ,mem_phone=#{mem_phone}
						  ,mem_email=#{mem_email}
						  ,mem_gender=#{mem_gender}
					where mem_id=#{mem_id}
	</update>
	
	<select id ="getUser" parameterType="String" resultType="com.nadeuli.mypage.dto.MemberDTO">
		select * from member where mem_id=#{memId}
	</select>
	
	<select id="getSchedule" parameterType="java.util.Map" resultType="com.nadeuli.mypage.dto.CalDTO">
    	select * from user_calendar where <![CDATA[ #{selectStart}>=cal_startDate ]]> and <![CDATA[ #{selectEnd}<=cal_endDate ]]>
	</select>

	<update id="setProfileImg" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update member set mem_profileImage = #{mem_profileImage} where mem_id = #{mem_id}
	</update>
	
	<update id="deleteFile" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update member set mem_profileImage = null where mem_id = #{mem_id} 
	</update>
 </mapper>