<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.nadeuli.mypage.dao.MypageDAO">
	
	<update id="memberUpdate" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update MEMBER set MEM_PW=#{mem_pw}
						  ,MEM_NAME=#{mem_name}
						  ,MEM_PHONE=#{mem_phone}
						  ,MEM_EMAIL=#{mem_email}
						  ,MEM_GENDER=#{mem_gender}
					where MEM_ID=#{mem_id}
	</update>
	
	<select id ="getUser" parameterType="String" resultType="com.nadeuli.mypage.dto.MemberDTO">
		select * from MEMBER where MEM_ID=#{memId}
	</select>
	
	<select id="getSchedule" parameterType="java.util.Map" resultType="com.nadeuli.mypage.dto.CalDTO">
    	select * from USER_CALENDAR where <![CDATA[ #{selectStart}>=CAL_STARTDATE ]]> and <![CDATA[ #{selectEnd}<=CAL_ENDDATE ]]>
	</select>

	<update id="setProfileImg" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update MEMBER set MEM_PROFILEIMAGE = #{mem_profileImage} where MEM_ID = #{mem_id}
	</update>
	
	<update id="deleteFile" parameterType="com.nadeuli.mypage.dto.MemberDTO">
		update MEMBER set MEM_PROFILEIMAGE = null where MEM_ID = #{mem_id} 
	</update>
 </mapper>