<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nadeuli.serviceCenter.dao.NoticeDAO">

    <!--공지사항-->
    <!-- 공지사항 등록 -->
    <insert id="insertNotice" parameterType="com.nadeuli.serviceCenter.bean.NoticeDTO">
        INSERT INTO NOTICE (mem_no, n_subject, n_content, n_writer, n_photo_path)
        VALUES (#{mem_No}, #{n_Subject}, #{n_Content}, #{n_Writer}, #{n_Photo_Path})
    </insert>

    <!-- ID로 공지사항 찾기 -->
    <select id="findNoticeById" parameterType="long" resultType="com.nadeuli.serviceCenter.bean.NoticeDTO">
        SELECT * FROM NOTICE WHERE N_No = #{n_No}
    </select>

    <!-- 모든 공지사항 조회 -->
    <select id="findAllNotices" resultType="com.nadeuli.serviceCenter.bean.NoticeDTO">
        SELECT * FROM NOTICE
    </select>

    <!-- 공지사항 수정 -->
    <update id="updateNotice" parameterType="com.nadeuli.serviceCenter.bean.NoticeDTO">
        UPDATE NOTICE
        SET N_Subject = #{n_Subject}, N_Content = #{n_Content}, N_Writer = #{n_Writer}
        WHERE N_No = #{n_No}
    </update>

    <!-- 공지사항 삭제 -->
    <delete id="deleteNotice" parameterType="long">
        DELETE FROM NOTICE WHERE N_No = #{n_No}
    </delete>

</mapper>
