<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nadeuli.review.dao.ReviewDAO">
    <insert id="reviewWrite" parameterType="com.nadeuli.review.bean.ReviewDTO">
       insert into board(B_TITLE,B_CONTENT,B_CREATETIME) values(#{B_TITLE},#{B_CONTENT},now())
    </insert>
    <select id="getReviewList" resultType="com.nadeuli.review.bean.ReviewDTO">
        select * from board
    </select>
</mapper>